@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --text-white: #feffde;
    --pale-green: #bdd2b6;
    --darker-green: #a2b29f;
    --darkest-green: #798777;
    --button-color: #7B6668;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    overflow-x: hidden;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/imgs/background-img.jpg") center center no-repeat;
    background-size: cover;
}
/* menu icon */
.menu-icon{
    color: var(--text-white);
    font-size: 1.5rem;
}

/* text color */
.recipedia-text{
    color: var(--text-white);
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.6);
}
.center-text{
    text-align: center;
}
p{
    font-size: 1rem;
}
.flash-msg-text{
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
}
h5{
    font-size: 1.3rem;
}
p, h5{
    color: var(--button-color);
}
/* search container section */
.search-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-heading{
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
    margin: 1.3rem;
}
.searchbox{
    background: #f7f7f7;
    outline: none;
    border-color: transparent;
    border-radius: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    width: 25rem;
}
.searchbox::placeholder{
    color: rgba(0, 0, 0, 0.4);
}
.search-btn{
    display: block;
    margin-left: 0.8rem;
}
.search-btn-primary{
    background-color: var(--button-color);
    border-radius: 30px;
}
.search-btn-primary:hover{
    background-color: var(--button-color);
    filter: brightness(110%)
}
.search-bar-and-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Latest Recipes */
.latest-recipes{
    height: 20vh
}
.recipe-card{
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.521);
}

/* Nav bar and logo */
.nav-design{
    background-color: transparent;
}
.nav-wrapper .recipedia-logo{
    font-size: 2.5rem;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: var(--text-white);
    padding-left: 1rem;
}
.menu-items{
    color: var(--text-white);
    background-color: transparent;
    transition: background-color .4s ease-in-out;
}
.menu-items:hover{
    color: var(--text-white);
    filter: brightness(110%);
    background-color: rgba(0,0,0,0.2);
    transition: background-color .4s ease-in-out
}
.logo-container{
    width: 50%;
}
.menu-items-container{
    width: 50%;
    justify-content: end;
}
/* got inspiration for the hover style here https://css-tricks.com/having-fun-with-link-hover-effects/ */
.recipedia-logo:hover{
    color: transparent;
    -webkit-text-stroke: 1px var(--text-white);
}

/* User registration */
.icon-size{
    line-height: 1.5;
    color: var(--button-color);
    font-size: 2rem;
}
.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.center-placement{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    background-color: var(--button-color);
    color: var(--text-white);
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.submit-btn:hover{
    background-color: var(--button-color);
    filter: brightness(110%);
}
.submit-icon{
    color: var(--text-white);
    margin-right: 0.8rem;
}
.register-user{
    background-color: var(--pale-green);
    width: 100%;
    border-radius: 30px;
}
form input[type="text"]{
    color: var(--button-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}