@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --text-white: #feffde;
    --pale-green: #bdd2b6;
    --darker-green: #a2b29f;
    --darkest-green: #798777;
    --button-color: #7B6668;
    --gold-rating: #ffd700;
    --bright-green: #55b113;
    --red-color: #910000;
    --blue-color: #187bcd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    /* Got help adding a background overlay shadow to darken the background image here https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image */
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/imgs/background-img.jpg") center center no-repeat;
    background-size: cover;
}
main{
    flex: 1 0 auto;
}
/* padding for the rows in full product and full recipe page */
.row-padding{
    padding-top: 5rem;;
}
/* buttons */
button{
    cursor: pointer;
}
.control-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit-btn{
    background-color: var(--button-color);
}
.reset-btn{
    background-color: var(--red-color);
    font-family: 'Oxygen', sans-serif;
    font-size: 0.8rem;
}
.reset-btn:hover{
    background-color: var(--red-color);
}
.save-btn{
    background-color: transparent;
}
.save-btn:hover{
    background-color: var(--bright-green);
    transition: background-color .4s ease-in-out;
}
.unsave-btn{
    background-color: var(--red-color);
}
.unsave-btn:hover{
    background-color: var(--red-color);
}
.full-recipe-btn{
    background-color: var(--bright-green);
    font-weight: bold;
    font-size: 0.8rem;
}
.full-recipe-btn:hover{
    background-color: transparent;
    border: 3px solid var(--bright-green);
    transition: background-color .4s ease-in-out;
}
.edit-btn{
    background-color: var(--blue-color);
}
.edit-btn:hover{
    background-color: var(--blue-color);
}
.add-ingredient-btn{
    background-color: var(--darkest-green);
}
.add-ingredient-btn:hover{
    background-color: var(--darkest-green);
    filter: brightness(110%);
}
.close-window-btn:active{
    background-color: transparent;
}
/* icons */
.icons{
    color: var(--button-color);
    margin-right: 0.5rem;
}
.menu-icon{
    color: var(--text-white);
    font-size: 1.5rem;
}
.btn .icons-size{
    font-size: 0.8rem;
}
/* low-font-weight */
.low-font-weight{
    font-weight: 200;
}

/* text color */
.recipedia-text{
    color: var(--text-white);
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.6);
}
.center-text{
    text-align: center;
}
p{
    font-size: 1rem;
    font-family: 'Oxygen', sans-serif;
}
.link-color{
    color: var(--bright-green)
}
.flash-msg-text{
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.8rem
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Ubuntu', sans-serif;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.3rem;
}
p, h5{
    color: var(--button-color);
}
.capitalize{
    text-transform: capitalize;
}
/* Truncate-text was found on twitter from a tweet that I can't remember who tweeted it but it was very useful for me */
.truncate-text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* search container section */
.search-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-heading{
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}
.searchbox-container{
    background-color: rgba(0,0,0, 0.5);
    border-radius: 30px;
}
#search-label{
    color: var(--text-white);
}
.col>.recipe-links{
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.col>.recipe-links>.recipe-link-btn{
    color: var(--text-white);
    background-color: var(--button-color);
    margin: 0.3rem;
}
.col>.users-signin{
    padding: 1rem 0;
}
.login-home-text{
    margin: 0.8rem 0;
}
/* Latest Recipes */
.latest-recipes{
    height: 100%;
    margin-top: 2rem;
}
.recipe-card{
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.521);
}

/* Nav bar and logo */
.nav-design{
    background-color: transparent;
}
.nav-wrapper .recipedia-logo{
    font-size: 2rem;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: var(--text-white);
}
.menu-items{
    color: var(--text-white);
    background-color: transparent;
    transition: background-color .4s ease-in-out;
}
.menu-items:hover{
    color: var(--text-white);
    filter: brightness(110%);
    background-color: rgba(0,0,0,0.2);
    transition: background-color .4s ease-in-out
}
.logo-container{
    width: 50%;
}
.menu-items-container{
    width: 50%;
    justify-content: end;
}
/* got inspiration for the hover style here https://css-tricks.com/having-fun-with-link-hover-effects/ */
.recipedia-logo:hover{
    color: transparent;
    -webkit-text-stroke: 1px var(--text-white);
}

/* User registration */
.icon-size{
    line-height: 1.5;
    font-size: 2rem;
}
.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.center-placement{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    background-color: var(--button-color);
    color: var(--text-white);
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 0 0.8rem;
}
.submit-btn:hover{
    background-color: var(--button-color);
    filter: brightness(110%);
}
.submit-icon{
    color: var(--text-white);
    margin-right: 0.6rem;
}
.register-user{
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    border-radius: 30px;
}
form input[type="text"]{
    color: var(--button-color);
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
}
/* footer */
.footer-recipedia{
    background-color: transparent;
}
.footer-title{
    color: var(--text-white);
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding-top: 1.8rem;
}
#facebook:hover{
    color: #3b5998;
    transition: color .3s ease-in-out;
}
#instagram:hover{
    color: #E1306C;
    transition: color .3s ease-in-out;
}
#twitter:hover{
    color: #1DA1F2;
    transition: color .3s ease-in-out;
}
.buy-now-icon{
    padding: 1rem 0;
    font-size: 1.5rem;
}
#amazon:hover{
    color: #FF9900;
    transition: color .3s ease-in-out;
}
.copyright-text{
    font-family: 'Oxygen', sans-serif;
    font-size: 0.8rem;
}
/* profile page */
.user-profile{
    height: 50vh;
}
.user-recipe-section{
    height: 50vh;
}
/* add recipe page */
.add-recipe-container{
    height: 100%;
    background-color: rgba(0,0,0, 0.5)
}

/* card design */
.recipedia-cards{
    background-color: var(--darkest-green);
    color: var(--text-white);
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    height: 100%;
}
.card-btns{
    padding: 0.8rem 0.6rem;
}
.delete-btn{
    margin-right: 0.6rem;
}

/* Full recipe page */
.recipe-info{
    padding: 2rem 0.3rem;
    margin-bottom: 1rem;
}
.recipe-important-info{
    margin-right: 0.5rem;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
}
.recipe-content{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6rem;
    padding: 2rem 0.8rem;
}
.recipe-ingredients{
    text-align: center;
    margin-bottom: 1rem;
}
.list-spacing{
    padding: 1rem 0.2rem;
}
.underline-text{
    text-decoration: underline;
}
ul>li.list-decoration{
    list-style-type: decimal;
    margin-left: 0.8rem;
}
.card .recipe-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    color: var(--text-white);
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}
.recipe-img{
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(60%);
}
.full-img{
    height: 40rem;
}
.recipe-btns{
    width: 100%;
    text-align: center;
}

/* products page */
.product-description{
    color: var(--text-white);
    font-size: 0.8rem;
}
#product-title{
    padding: 0.8rem 0;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    height: 5rem;
    width: 100%;
    margin-bottom: 0.8rem;
}
.see-product-btn{
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: 0.8rem;
}
.thumb-up{
    color: var(--text-white);
    font-size: 0.8rem;
}
.icon-spacing{
    margin-right: 0.3rem;
    color: var(--gold-rating);
}
.buy-now-head{
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
}
/* materialize had there own styling on a tags that was affecting the way my links were set up on the products page, the only way I could fix the issue was to copy the exact styling selector they used and change the margins manually */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0;
}
.buy-now-text{
    padding: 1rem 0;
}
.product-text{
    padding: 1rem 0;
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
}
/* targeting the first "thumb up", answer found here: https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class */
.icon-spacing:nth-of-type(1)
{
    margin-left: 0.5rem;
} 
/* Modal content */
.modal .delete-confirmation{
    background-color: var(--darker-green);
    color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.modal .delete-confirmation-msg{
    color: var(--text-white);
    font-family: 'Oxygen', sans-serif;
}

/* pagination */
.pagination li a{
    color: var(--text-white)
}
.pagination li.active{
    background-color: var(--darkest-green);
}
.pagination ul{
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.521);
}
.pagination-page-info{
    color: var(--text-white);
    font-family: 'Oxygen', sans-serif;
    text-transform: capitalize;
}

/* Had to use !important as it was the only way I could override materialize settings */
input[type=text],
input[type=url],
input[type=number],
input[type=password]{
    color: var(--text-white) !important;
}

/* Wanted to hide the next and prev number spinners on form, found a solution here https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* the below is used to change the autocomplete color of inputs taken from here: https://dev.to/atndesign/a-trick-to-change-the-autocomplete-background-color-21ll */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgba(0,0,0, 0.5) inset !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(0,0,0, 0.5) inset !important;
    -webkit-text-fill-color: var(--text-white) !important;
}
/* targetting the sidenav */
.sidenav{
    width: 80%;
    background-color: var(--pale-green);
}
.sidenav-close{
    outline: none;
    border: none;
}
.sidenav-close:active{
    background-color: transparent;
    outline: none;
}

/* Media Queries */
@media only screen and (min-width: 360px){
    .card .recipe-title{
        font-size: 1.5rem;
    }
    .full-recipe-btn{
        font-size: 1rem;
    }
    .flash-msg-text{
        font-size: 1.3rem;
    }
    .thumb-up{
        font-size: 1rem;
    }
    .product-description{
        font-size: 1rem;
    }
    .buy-now-head{
        font-size: 1rem;
    }
    .buy-now-icon{
        font-size: 2rem;
    }
}
@media only screen and (min-width: 450px){
    .col>.recipe-links{
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    h4{
        font-size: 2rem;
    }
    .sidenav{
        width: 60%
    }
    .search-heading{
        font-size: 2.2rem;
    }
    #product-title{
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 600px){
    .search-heading{
        font-size: 2.5rem;
    }
    h5{
        font-size: 1.6rem;
    }
    h6{
        font-size: 1.3rem;
    }
    .submit-btn{
        font-size: 1rem;
    }
    .btn .icons-size{
        font-size: 1rem;
    }
    .reset-btn{
        font-size: 1rem;
    }
    .flash-msg-text{
        font-size: 1.8rem;
    }
    .sidenav{
        width: 40%
    }
}
@media only screen and (min-width: 900px){
    .nav-wrapper .recipedia-logo{
        font-size: 2.5rem;
        padding-left: 1rem;
    }
    .card .recipe-title{
        font-size: 1.8rem;
    }
    .thumb-up{
        font-size: 1.2rem;
    }
    .product-description{
        font-size: 1.2rem;
    }
    .buy-now-head{
        font-size: 1.2rem;
    }
}