{% extends "base.html" %}
{% block content %}
<!-- 404 error page displaying an error message and a return to home link  -->
    <div class="container">
        <div class="row">
            <div class="col s12 center-align recipedia-text">
                <h2 class="search-heading">Error 500 - Internal Server Error</h2>
                <p class="recipedia-text shadow-text">We're sorry but something has gone wrong. <a href="{{ url_for('get_recipes') }}" class="underline-text link-color">Click here</a> to return home or you can refreash the page to try loading it again.</p>
            </div>
        </div>
    </div>

{% endblock %}