{% extends "base.html" %}
{% block content %}

    <h3 class="recipedia-text shadow-text center-align">Add a recipe to our database</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix shadow-text recipedia-text"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix shadow-text recipedia-text"></i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}