{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card recipedia-cards">
                <div class="card-image">
                    <img src="{{product.product_img}}" class="recipe-img" alt="an image of {{product.product_name}}">
                    <span class="card-title recipe-title recipedia-text shadow-text">{{product.product_name}}</span>
                </div>
                <div class="card-content recipe-content">
                    <h4 class="recipedia-text shadow-text center-align underline-text">Product Description</h4>
                    <p>{{product.product_description}}</p>
                    
                    <div class="recipe-btns">
                        {% if session.user|lower == session.user|lower == 'admin'|lower %}
                            <a href="#" class="waves-effect waves-light btn-small blue"><i class="far fa-edit right"></i>Edit Recipe</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}