{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card recipedia-cards">
                <div class="card-image">
                    <img src="{{recipe.img_upload}}" class="recipe-img">
                    <span class="card-title recipe-title recipedia-text shadow-text">{{recipe.recipe_name}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" title="Save recipe to your profile"><i class="far fa-save"></i></a>
                </div>
                <div class="recipe-info">
                    <div class="col s6 m3 center-align">
                        <span class="recipe-important-info recipedia-text shadow-text">Cook Time</span><i class="fas fa-clock prefix shadow-text recipedia-text icons"></i><span class="recipedia-text shadow-text">{{recipe.cook_time}}</span>
                    </div>
                    <div class="col s6 m3 center-align">
                        <span class="recipe-important-info recipedia-text shadow-text">Prep Time</span><i class="far fa-clock prefix shadow-text recipedia-text icons"></i><span class="recipedia-text shadow-text">{{recipe.prep_time}}</span>
                    </div>
                    <div class="col s6 m3 center-align">
                        <span class="recipe-important-info recipedia-text shadow-text">Difficulty</span><i class="fas fa-exclamation prefix shadow-text recipedia-text icons"></i><span class="recipedia-text shadow-text">{{recipe.difficulty.capitalize()}}</span>
                    </div>
                    <div class="col s6 m3 center-align">
                        <span class="recipe-important-info recipedia-text shadow-text">Author</span><i class="fas fa-user prefix shadow-text recipedia-text icons"></i><span class="recipedia-text shadow-text">{{recipe.created_by.capitalize()}}</span>
                    </div>
                </div>
                <div class="card-content recipe-content">
                    <h4 class="recipedia-text shadow-text center-align underline-text">Ingredients:</h4>
                    <ul class="recipe-ingredients">
                        {% for ing in recipe.ingredients %}
                            <li class="recipedia-text shadow-text list-spacing">{{ing}}</li>
                        {% endfor %}
                    </ul>
                    <h4 class="recipedia-text shadow-text underline-text">Steps:</h4>
                    <ul class="recipe-steps">
                        {% for step in recipe.steps %}
                            <li class="recipedia-text shadow-text list-spacing list-decoration">{{step}}</li>
                        {% endfor %}
                    </ul>
                    <div class="recipe-btns">
                        {% if session.user|lower == recipe.created_by|lower or session.user|lower == 'admin'|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}" class="waves-effect waves-light btn-small blue"><i class="far fa-edit right"></i>Edit Recipe</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}