{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card recipedia-cards">
                <div class="card-image">
                    <img src="{{product.product_img}}" class="recipe-img" alt="an image of {{product.product_name}}">
                    <span class="card-title recipe-title recipedia-text shadow-text">{{product.product_name}}</span>
                </div>
                <div class="card-content recipe-content">
                    {% if product.user_rating == '1' %}
                            <h5 class="thumb-up center-align">Rating: <i class="fas fa-thumbs-up icon-spacing"></i></h5>
                        {% elif product.user_rating == '2' %}
                            <h5 class="thumb-up center-align">Rating: <i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i></h5>
                        {% elif product.user_rating == '3' %}
                            <h5 class="thumb-up center-align">Rating: <i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i></h5>
                        {% elif product.user_rating == '4' %}
                            <h5 class="thumb-up center-align">Rating: <i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i></h5>
                        {% elif product.user_rating == '5' %}
                            <h5 class="thumb-up">Rating: <i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i><i class="fas fa-thumbs-up icon-spacing"></i></h5>
                        {% else %}
                            <h5 class="thumb-up center-align">Rating: Product has no rating!</h5>
                        {% endif %}
                    <h4 class="recipedia-text shadow-text center-align underline-text">Product Description</h4>
                    <p class="recipedia-text shadow-text product-text">{{product.product_description}}</p>
                    <div class="buy-now-text">
                            <h5 class="buy-now-head">Buy now by clicking on the link below</h5>
                            <div class="buy-now-icon">
                                <a href="http://www.amazon.co.uk" target="_blank"><i class="fab fa-amazon recipedia-text" id="amazon"></i></a>
                            </div>
                        </div>
                        <div class="control-btns">
                            {% if session.user|lower == session.user|lower == 'admin'|lower %}
                                <a href="#modal1" class="waves-effect waves-light btn-small modal-trigger modal-trigger red" id="delete-btn"><i class="far fa-trash-alt right"></i>Delete</a>
                                <a href="#" class="waves-effect waves-light btn-small blue" id="edit-btn"><i class="far fa-edit right"></i>Edit</a>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}