{% extends "base.html" %}
{% block content %}

    
    <section class="container center-placement user-profile">
        <div class="row">
            <div class="col s12">
                    <h3 class="center-align recipedia-text shadow-text">{{ username.capitalize() }}'s Profile</h3><br>
                    <p class="center-align recipedia-text shadow-text">Welcome {{ username.capitalize() }} to your profile page, see below for your saved recipes and recipes that you have added to our database!</p>
                </div>
            </div>
    </section>
    <section class="container user-recipe-section">
        <div class="row">
            <div class="col s12 center-text">
                <h3 class="recipedia-text shadow-text">Your Saved Recipes</h3>
                {% for recipe in recipes %}
                    {% if recipe.created_by == session["user"] %}
                        <div class="row">
                            <div class="col s12 m7">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="images/sample-1.jpg">
                                        <span class="card-title">Card Title</span>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">This is a link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <h5 class="recipedia-text shadow-text center-align">You have no saved recipes. Search for more recipes <a href="{url_for('recipes')}">here</a></h5>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}