{% extends "base.html" %}
{% block content %}

    <h3 class="center-align search-heading recipedia-text shadow-text">Add/Remove/Edit Recipe categories</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category')}}" class="btn-large submit-btn">
                add Category <i class="far fa-plus-square right"></i>
            </a>
        </div>
    </div>
     <div class="row">
         {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card hoverable recipedia-cards recipedia-text shadow-text center-align">
                    <div class="card-content white-text">
                        <span class="card-title recipedia-text category-heading">{{ category.category_name.capitalize() }}</span>
                    </div>
                    <div class="card-action control-btns">
                        <a class="waves-effect waves-light btn-small modal-trigger modal-trigger unsave-btn" id="delete-btn" data-toggle="modal" data-target="#deleteCategory{{ loop.index }}"><i class="far fa-trash-alt"></i></a>
                        <a href="{{ url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn-small edit-btn" id="edit-btn"><i class="far fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div id="#deleteCategory{{ loop.index }}" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-content delete-confirmation">
                    <h4 class="recipedia-text shadow-text">Confirm Delete</h4>
                    <p class="recipedia-text shadow-text delete-confirmation-msg">Are you sure you want to delete this category?</p>
                </div>
                <div class="modal-footer delete-confirmation">
                    <a href="{{url_for('get_categories')}}" class="waves-effect btn-flat recipedia-text unsave-btn"> Cancel <i class="far fa-window-close right"></i></a>
                    <a href="{{ url_for('delete_category', category_id=category._id )}}" class="modal-close waves-effect btn-flat recipedia-text edit-btn" aria-hidden="true">Confirm<i class="far far fa-check-square right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}