{% extends "base.html" %}
{% block content %}

    <section class="search-container container-sm">
        <h2 class="search-heading">Search for a recipe from our Database!</h2>
        <div class="search-bar-and-btn">
                <input type="search" name="search" id="search" class="searchbox" placeholder="Search for a recipe" autofocus>
            <div class="search-btn">
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </section>
    <section class="latest-recipes">
            <div class="row">
                <div class="col-6">
        {% for recipe in recipes %}
                    <div class="card recipe-card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                            src="{{recipe.img_url}}"
                            class="img-fluid"
                            />
                            <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.recipe_name}}</h5>
                            <p class="card-text">
                            {% for ing in recipe.ingredients %}
                               <ul>
                                   <li>{{ ing }}</li>
                               </ul> 
                            {% endfor %}
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a><br>
                            <small>Created by: {{ recipe.created_by  }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <!-- {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.date  }}<br>
        {{ recipe.created_by  }}<br>
    {% endfor %} -->

{% endblock %}