{% extends "base.html" %}
{% block content %}

    <section class="search-container">
        <h2 class="search-heading">Search for a recipe from our Database!</h2>
        <div class="search">
            <input type="search" name="search" id="search" class="searchbox" placeholder="Search for a recipe" autofocus>
        </div>
        <div class="search-btn">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </section>

    <!-- {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.date  }}<br>
        {{ recipe.created_by  }}<br>
    {% endfor %} -->

{% endblock %}