{% extends "base.html" %}
{% block content %}

<!-- Register as a new user with Recipedia -->
<section class="container register-container">
    <div class="row center-placement">
        <div class="col s12">
            <h2 class="search-heading recipedia-text">Register as a new user with Recipedia</h2>
        </div>
    </div>
    <!-- Container for form which allows a new user to register for the site -->
    <div class="row register-user z-depth-5">
        <form class="col s12 m8" method="POST" action="{{ url_for('register') }}">
            <!-- username field -->
            <div class="row center-placement">
                <div class="input-field col s12 m8">
                    <i class="fas fa-user icon-size submit-icon prefix"></i>
                    <!-- got help with input patterns here: https://www.w3schools.com/TAGS/att_input_pattern.asp -->
                    <input type="text" id="username" name="username" class="validate" minlength="3" maxlength="20"
                        pattern="^[a-zA-Z0-9]{3,20}$"
                        title="Minimum of Three characters, maximum of twenty, no special characters allowed"
                        required />
                    <label for="username">Username</label>
                    <span class="helper-text" data-error="Please enter a unique username"
                        data-success="You're Username is unique!"></span>
                </div>
            </div>
            <!-- password field -->
            <div class="row center-placement">
                <div class="input-field col s12 m8">
                    <i class="fas fa-key icon-size submit-icon prefix"></i>
                    <input type="password" id="password" name="password" class="validate" minlength="6"
                        pattern="^[a-zA-Z0-9]{6,}$" title="Six or more characters, no special characters allowed"
                        required />
                    <label for="password" class="form-labels">Password</label>
                    <span class="helper-text" data-error="Please enter a valid password"
                        data-success="your password is valid!"></span>
                </div>
            </div>
            <!-- Register button -->
            <div class="row center-placement">
                <div class="col s12 m8 center-align">
                    <button type="submit" class="btn btn-primary submit-btn"><i
                            class="fas fa-user-plus submit-icon"></i>Register</button>
                </div>
            </div>
            <!-- Information for those who already have an account and wish to login -->
            <div class="row center-placement">
                <div class="col s12 m8">
                    <p class="center-text recipedia-text">Already Registered?</p>
                    <h5 class="center-text recipedia-text"><a href="{{ url_for('login') }}"
                            class="underline-text link-color">Click Here</a> to log in to your account</h5>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}